html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, p:before, p:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Roboto', sans-serif; }

html {
  font-size: 10px; }

body {
  font-size: 1.4rem; }

#app {
  padding-top: 70px; }

.icon {
  display: inline-block;
  margin: 0;
  padding: 0; }
  .icon.icon-s {
    width: 2rem;
    height: 2rem;
    background-size: 2rem 2rem; }
  .icon.icon-m {
    width: 3rem;
    height: 3rem;
    background-size: 3rem 3rem; }
  .icon.icon-l {
    width: 5rem;
    height: 5rem;
    background-size: 5rem 5rem; }
  .icon.favorite-outline {
    background-image: url(./icons/favorite-outline.svg); }
  .icon.favorite-filled {
    background-image: url(icons/favorite-filled.svg); }
  .icon.user {
    background-image: url(./icons/user.svg); }
  .icon.user-box {
    background-image: url(icons/user-box.svg); }
  .icon.add {
    background-image: url(icons/add.svg); }
  .icon.add-box {
    background-image: url(./icons/add-box.svg); }
  .icon.announcement {
    background-image: url(icons/announcement.svg); }
  .icon.attach-file {
    background-image: url(icons/attach-file.svg); }
  .icon.attachment {
    background-image: url(./icons/attachment.svg); }
  .icon.cog {
    background-image: url(icons/cog.svg); }
  .icon.delete {
    background-image: url(icons/delete.svg); }
  .icon.done-all {
    background-image: url(./icons/done-all.svg); }
  .icon.done {
    background-image: url(icons/done.svg); }
  .icon.extension {
    background-image: url(./icons/extension.svg); }
  .icon.help-outline {
    background-image: url(icons/help-outline.svg); }
  .icon.help {
    background-image: url(./icons/help.svg); }
  .icon.insert-photo {
    background-image: url(icons/insert-photo.svg); }
  .icon.refresh {
    background-image: url(./icons/refresh.svg); }
  .icon.description {
    background-image: url(./icons/description.svg); }
  .icon.bookmark {
    background-image: url(./icons/bookmark.svg); }
  .icon.bug {
    background-image: url(./icons/bug.svg); }
  .icon.assignment {
    background-image: url(./icons/assignment.svg); }
  .icon.assignment-done {
    background-image: url(./icons/assignment-done.svg); }
  .icon.assignment-late {
    background-image: url(./icons/assignment-late.svg); }
  .icon.pencil {
    background-image: url(./icons/pencil.svg); }
  .icon.mail {
    background-image: url(./icons/mail.svg); }
  .icon.notification {
    background-image: url(./icons/notification.svg); }
  .icon.notification-none {
    background-image: url(./icons/notification-none.svg); }
  .icon.send {
    background-image: url(./icons/send.svg); }

.mar-s {
  margin: 1rem; }

.lmar-s {
  margin-left: 1rem; }

.rmar-s {
  margin-right: 1rem; }

.tmar-s {
  margin-top: 1rem; }

.bmar-s {
  margin-bottom: 1rem; }

.mar-m {
  margin: 2rem; }

.lmar-m {
  margin-left: 2rem; }

.rmar-m {
  margin-right: 2rem; }

.tmar-m {
  margin-top: 2rem; }

.bmar-m {
  margin-bottom: 2rem; }

.mar-l {
  margin: 3rem; }

.lmar-l {
  margin-left: 3rem; }

.rmar-l {
  margin-right: 3rem; }

.tmar-l {
  margin-top: 3rem; }

.bmar-l {
  margin-bottom: 3rem; }

.pad-s {
  padding: 1rem; }

.lpad-s {
  padding-left: 1rem; }

.rpad-s {
  padding-right: 1rem; }

.tpad-s {
  padding-top: 1rem; }

.bpad-s {
  padding-bottom: 1rem; }

.pad-m {
  padding: 2rem; }

.lpad-m {
  padding-left: 2rem; }

.rpad-m {
  padding-right: 2rem; }

.tpad-m {
  padding-top: 2rem; }

.bpad-m {
  padding-bottom: 2rem; }

.pad-l {
  padding: 3rem; }

.lpad-l {
  padding-left: 3rem; }

.rpad-l {
  padding-right: 3rem; }

.tpad-l {
  padding-top: 3rem; }

.bpad-l {
  padding-bottom: 3rem; }

.component_input_group_root .component_input_group_label {
  width: 100%;
  font-size: 1.4rem; }
